* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
}
.container{
    width: 1200px;
    margin: auto;   
}
header {
    background-color: #00205B;
}
header img{
    float: left;
    border: 2px solid #DDD;
    margin: 20px 40px;
}
h1 {
    color: #FFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}
h3 {
    color: #FFF;
    font-size: 26px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin: 15px 50px;
}
nav {
    clear: both;
	background-color: #E83617;
	height: 50px;
}
nav ul {
	list-style-type: none;
	text-transform: uppercase;
}
nav ul li {
	float: left;
}
nav ul li a {
    text-decoration: none;
	font-size: 20px;
	width: 232px;
	display: block;
	text-align: center;
	padding: 12px 4px 15px 4px;
	color: #FFF;
}
nav ul li a:hover {	
	background-color: #FFF;
	color: #E83617;
}


main {
    padding: 15px;
}
main h2{
    color: #00205B;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px 0;
}
main p {
    line-height: 30px;
    text-indent: 50px;
    text-align: justify;
    margin: 10px 0 20px;
}
main img {
    padding: 15px 20px 50px 10px;
}

footer{
    color: #fff;
    background-color: #00205B;
    padding: 40px 0 30px;
}
footer p {
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}